body{
    margin: 20px auto;
    padding: 0;
    width: 90%;
    height: auto;
    overflow: hidden;
    font-family: sans-serif;
    margin-top: 0%;
    background-color: rgba(32, 30, 23, 0.829);
    background-position: center;

}

.nav{
    /* background: rgb(210, 247, 5);  */
    background-color: rgba(68, 51, 224, 0.281);
    width: 100%;
    height: 40px;
    margin: 0px;
    overflow: hidden;
}

#nav-box{
    border: 2px solid rgba(49, 45, 45, 0.719) ;
    border-radius: 15px;
}

.nav-items{
    /* background: rgba(24, 23, 23, 0.664); */
    cursor: pointer;
    margin-top: 1px;
    margin-right: 5px;
    height: auto;
    list-style-type: none;
    padding-top: 24px 0;
    width: 50%;
    margin-left: auto;
    border: 2px solid rgb(41, 14, 14);
    border-radius: 10px;
    
    /* flex-wrap: wrap; */
    /* justify-content: center; */
}

.nav-item1 {
    background: #2b4936;
    cursor: pointer;
    display: inline;
    padding: auto ;
    /* margin-bottom: 20px; */
    text-decoration: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    /* margin: 0 16px; */
    font-size: 1.4vw;
}

.nav-item2 {
    background:  #2b4936;
    cursor: pointer;
    display: inline;
    padding: auto;
    margin-bottom: 20px;
    text-decoration: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #f0e5e5;
    margin: 0 16px;
    font-size: 1.4vw;
}

.nav-item3 {
    background:  #2b4936;
    cursor: pointer;
    display: inline;
    padding: auto;
    margin-bottom: 20px;
    text-decoration: bold;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #e4e7e6;
    margin: 0 16px;
    font-size: 1.4vw;
}

.nav-item4 {
    background:  #2b4936;
    cursor: pointer;
    display: inline;
    padding: auto;
    margin-bottom: 20px;
    text-decoration: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin: 0 16px;
    font-size: 1.4vw;
}

.nav-item5 {
    background: #2b4936;
    cursor: pointer;
    display: inline;
    padding: auto;
    margin-bottom: 20px;
    text-decoration: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #d7dfdd;
    margin: 0 16px;
    font-size: 1.4vw;
    
}

.nav-item6 {
    background: #2b4936;
    cursor: pointer;
    display: inline;
    padding: auto;
    margin-bottom: 20px;
    text-decoration: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #d7dfdd;
    margin: 0 16px;
    font-size: 1.4vw;
}


.nav-item1:hover{
    background-color: rgb(168, 135, 73);
    color: white;
    font-size: 28px; 
    transition-delay: 0.1s;
}

.nav-item2:hover{
    background-color: rgb(163, 122, 44);
    color: white;
    font-size: 28px; 
    transition-delay: 0.1s;
}

.nav-item3:hover{
    background-color: rgb(143, 104, 31);
    color: white;
    font-size: 28px; 
    transition-delay: 0.1s;
}

.nav-item4:hover{
    background-color: rgb(133, 95, 25);
    color: white;
    font-size: 28px; 
    transition-delay: 0.1s;
}

.nav-item5:hover{
    background-color: rgb(158, 110, 21);
    color: white;
    font-size: 28px; 
    transition-delay: 0.1s;
}

.nav-item6:hover{
    background-color: rgb(158, 110, 21);
    color: white;
    font-size: 28px; 
    transition-delay: 0.1s;
}


.food ul{
    padding: 0;
    margin: 0px;
}

.food ul li{
    list-style: none;
    float: left;
    width: 31%;
    height: 300px;
    background: rgb(170, 49, 49);
    /* margin: 20px 20px 10px 5px; */
    /* margin: 5px; */
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 13px;
    color: rgb(206, 195, 195);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}


.item{
    border: 2px solid rgb(208, 221, 208);
    font-size: 1.5vw;

}


.food ul li .item{
    width: 100%;
    height: 50%;
    line-height: 50px;
    background: wheat;
    text-align: center;

}

@media screen and (max-width:1200px){
    .food ul li{
        width: 40%;
        margin-left: 40px;
    }
}

@media screen and (max-width:750px){
    .food{
        width: 100%;
        padding: 0px;
    }
    .food ul li{
        float: none;
        width: 90%;
        margin: 40px auto;
    }
}
